@charset "UTF-8";

.page-content {
  padding: 0 40px;
}

.content {
  height: 2000px;
}
.new-icon {
  padding-left: 10px;
  animation:blink 1s step-end infinite alternate;
}
@keyframes blink{
  21%,40%,61%,80%,100% {opacity:0;}
  0%,20%,41%,60%,81%,99% {opacity:1;}
}

.table-cell {
  border: 5px double #CCCCCC;
  padding-left: 5px;
}
